* {
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
}

.header {
    width: 300px;
    background-color: #333333;
    color: white;

    /*padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;*/

    padding: 50px;

    border: 5px solid red;

    margin: 20px;
}

.social-medias > h2 {
    text-align: center;
}

p {
    font-size: 16px;
}

span {
    font-size: 2rem;
}

.social-medias > ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    color: red;
}