h1 {
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 72px;
    text-decoration: underline;
}

p {
    color: #3c00d5;
    font-weight: bold;
}

.red-text {
    color: rgb(136, 135, 136);
}

#red-title {
    font-size: 36px;
    color: royalblue;
}