* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

header {
    background-color: #333333;
    color: #EEE;
    padding: 20px;
    text-align: center;
}