.flex-container {
    display: flex;
    flex-direction: row;
    background-color: red;
    height: 500px;
}

.flex-item {
    border: 2px solid #000;
    padding: 10px;
}

.box-1 {
    order: 1;
    flex: 1
}

.box-2 {
    order: 3;
    flex: 1;
}

.box-3 {
    order: 2;
    flex: 1;
}